@charset "UTF-8";
body {
  font-family: "Noto Sans JP";
  position: relative;
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 200;
}

.header__hamberger {
  display: none;
}

.header__logo {
  position: absolute;
}
.header__logo--img {
  margin-top: 20px;
  margin-left: 30px;
}
.header__nav {
  position: absolute;
  z-index: 120;
  font-family: "Noto Sans JP";
  right: 30px;
}
.header__nav--child, .header__nav--btn {
  position: relative;
  z-index: 200;
  margin: 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #468459;
}
.header__nav--btn {
  background-color: #0C4324;
  padding: 15px;
  border-radius: 0.3pc;
  text-shadow: none;
}

.topback {
  position: fixed;
  right: 50px;
  bottom: 100px;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 3px #468459 solid;
}
.topback::before {
  content: "";
  height: 35px;
  width: 35px;
  border-top: 4px solid #468459;
  border-right: 4px solid #468459;
  position: absolute;
  transform: rotate(315deg);
  bottom: 7px;
  right: 15px;
}

.carousel {
  position: relative;
  width: 100%;
  z-index: 79;
}

.carouselsp {
  display: none;
}

.carousel .slick-dots li, .carouselsp .slick-dots li {
  position: absolute;
  width: 10%;
  height: 5px;
  margin-bottom: 10%;
  right: 10%;
  bottom: 15%;
  padding: 0;
  border-radius: 0.3pc;
  background: white;
  overflow: hidden;
}

.carousel .slick-dots li.slick-active button::after, .carouselsp .slick-dots li.slick-active button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1B9240;
  animation: progress 2s linear 0s forwards; /* ここでアニメーションのスピードをスライドの秒数に合わせて調整をする */
  z-index: 1;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.topbackground {
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.topbackground__carouselsp, .topbackground__img {
  display: none;
}
.topbackground__carousel {
  position: absolute;
  width: 1200px;
  height: 1000px;
  right: 0px;
  top: -100px;
  overflow: hidden;
  z-index: 83;
  border-top-left-radius: 500px 1000px;
  border-bottom-left-radius: 1700px 2000px;
}
.topbackground__carousel--img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 83;
  margin-top: 100px;
}
.topbackground__colored {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 110px;
  top: 0px;
  z-index: 82;
  background-image: url(../img/_x31_3.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50%;
}
.topbackground__word {
  margin: 150px 115px;
  text-align: left;
  writing-mode: vertical-rl;
}
.topbackground__word--textone, .topbackground__word--texttwo {
  font-size: 30px;
  letter-spacing: 10px;
  border-right: 2px #468459 dashed;
  position: relative;
  line-height: 45px;
  color: #468459;
  font-family: "Shippori Mincho";
  font-weight: bold;
}
.topbackground__word--textone::after, .topbackground__word--texttwo::after {
  position: absolute;
  content: "";
  background-color: #F0F5E1;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: inset 0 0 20px 10px #FFF;
  z-index: -1;
}
.topbackground__word--textone::after {
  top: 220px;
  left: -110px;
}
.topbackground__word--texttwo {
  display: inline-block;
  margin-right: 5px;
}
.topbackground__word--texttwo::after {
  top: -30px;
  left: 20px;
  z-index: -2;
}
.topbackground__img {
  display: none;
}

.topback {
  width: 60px;
  height: 60px;
  right: 30px;
}
.topback::before {
  height: 30px;
  width: 30px;
  right: 12px;
  bottom: 5px;
}

.news {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  font-family: "Noto Sans JP";
}
.news__title {
  float: left;
  width: 25%;
}
.news__title--en {
  display: inline-block;
  font-size: 30px;
  padding-right: 20px;
  color: #468459;
}
.news__title--jp {
  display: inline-block;
  font-size: 20px;
  color: #468459;
}
.news__content {
  width: 50%;
  float: left;
  text-align: left;
  margin-top: 5px;
}
.news__content--date {
  display: inline-block;
  padding-right: 20px;
}
.news__content--category {
  display: inline-block;
  background-color: #468459;
  border-radius: 0.2pc;
  padding: 5px 10px;
  color: white;
}
.news__content--title {
  padding-left: 20px;
  display: inline-block;
}
.news__link {
  display: inline-block;
  position: relative;
  margin-top: 10px;
}
.news__link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  top: 9px;
  right: 120px;
  background: black;
}
.news__link::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 5px;
  right: 120px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}

.concept, .cconcept {
  position: relative;
  margin-bottom: 380px;
}
.concept__background, .cconcept__background {
  position: relative;
}
.concept__background--textname, .cconcept__background--textname {
  position: absolute;
  text-align: left;
  color: #DAE2C2;
  font-size: 150px;
  opacity: 0.3;
  margin-top: 50px;
  margin-left: 200px;
  z-index: 69;
}
.concept__background--imgdata, .cconcept__background--imgdata {
  position: absolute;
  top: 300px;
  right: 0px;
  z-index: 69;
}
.concept__parent, .cconcept__parent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.concept__left, .concept__right, .cconcept__left, .cconcept__right {
  width: 28%;
  position: relative;
  z-index: 70;
}
.concept__left--imgdata, .concept__right--imgdata, .cconcept__left--imgdata, .cconcept__right--imgdata {
  border-radius: 1pc;
}
.concept__title--logo, .cconcept__title--logo {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}
.concept__title--en, .cconcept__title--en {
  display: inline-block;
  color: #468459;
  font-size: 24px;
  font-weight: bold;
}
.concept__title--jp, .cconcept__title--jp {
  font-size: 24px;
  color: #468459;
  margin-top: 10px;
}
.concept__content, .cconcept__content {
  position: relative;
}
.concept__content--text, .cconcept__content--text {
  font-size: 16px;
  color: #468459;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 45px;
}
.concept__contentsp, .cconcept__contentsp {
  display: none;
}
.concept__detail, .cconcept__detail {
  width: 80%;
}
.concept__detail--text, .cconcept__detail--text {
  margin-top: 20px;
  font-size: 16px;
}

.newwavetwo, .newwaveone {
  position: relative;
}
.newwavetwo__img--one, .newwavetwo__img--two, .newwaveone__img--one, .newwaveone__img--two {
  position: absolute;
  right: 0;
  width: 100vw;
}
.newwavetwo__img--one, .newwaveone__img--one {
  top: -270px;
  z-index: -2;
}
.newwavetwo__img--two, .newwaveone__img--two {
  z-index: -1;
  top: -250px;
  filter: saturate(240%) grayscale(14%) brightness(99%);
}

.about__link {
  width: 80%;
  text-align: right;
  margin-top: 40px;
}
.about__link--anchor {
  position: relative;
  border: 1px black solid;
  padding: 3px 20px 3px 40px;
  border-radius: 0.2pc;
}
.about__link--anchor::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  top: 15px;
  right: 118px;
  background: black;
}
.about__link--anchor::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 11px;
  right: 118px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}

#course {
  background-color: #F0F5E1;
  margin-top: -100px;
  position: relative;
  z-index: 55;
}

.course {
  position: relative;
  text-align: center;
}
.course__background {
  position: relative;
}
.course__background--textname {
  position: absolute;
  text-align: left;
  color: #E7EDD4;
  font-size: 150px;
  opacity: 0.3;
  margin-top: 50px;
  margin-left: 200px;
  z-index: 69;
}
.course__background--imgdata {
  position: absolute;
  top: 300px;
  z-index: 69;
}
.course__title--left, .course__title--right {
  display: inline-block;
  margin-bottom: 3px;
}
.course__title--center {
  display: inline-block;
  font-size: 24px;
  color: #468459;
  margin: auto 20px;
  font-weight: bold;
}
.course__content {
  font-size: 24px;
  color: #468459;
  margin-top: 20px;
  font-weight: bold;
}
.course__menu {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 80px;
}
.course__menu--left, .course__menu--right {
  margin: 30px;
}
.course__menu--img {
  border-radius: 1pc;
  width: 90%;
}
.course__menu--parent {
  text-align: left;
  margin-top: 30px;
  margin-left: 15px;
}
.course__menu--title {
  color: #0C4324;
  font-size: 24px;
  font-weight: bold;
}
.course__menu--list {
  margin-top: 15px;
  margin-left: 20px;
}
.course__menu--child {
  margin-top: 15px;
  margin-left: 20px;
  list-style: disc;
}
.course__link {
  margin-top: 50px;
  padding-bottom: 200px;
}
.course__link--anchor {
  position: relative;
  border: 1px black solid;
  padding: 2px 20px 2px 35px;
  border-radius: 0.2pc;
}
.course__link--anchor::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  top: 15px;
  right: 165px;
  background: black;
}
.course__link--anchor::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 11px;
  right: 165px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}

.customer {
  text-align: center;
}
.customer__background--img {
  position: relative;
  z-index: 60;
  width: 100%;
}
.customer__background--imgsp {
  display: none;
}
.customer__title--left, .customer__title--right {
  display: inline-block;
  margin-bottom: 3px;
  margin-top: 50px;
}
.customer__title--center {
  display: inline-block;
  font-size: 24px;
  color: #468459;
  margin: auto 20px;
  font-weight: bold;
}
.customer__head {
  width: 700px;
  height: 500px;
  margin: -100px auto -300px auto;
  background-color: white;
  position: relative;
  z-index: 61;
  border-radius: 50%;
}
.customer__content {
  color: #468459;
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
}
.customer__voice {
  position: relative;
  z-index: 62;
  display: flex;
  width: 100%;
  justify-content: center;
}
.customer__voice--left, .customer__voice--center, .customer__voice--right {
  width: 20%;
}
.customer__voice--img {
  border-radius: 100%;
}
.customer__voice--title {
  margin-top: 30px;
  color: #0C4324;
  font-weight: bold;
  font-size: 24px;
}
.customer__voice--text {
  margin-top: 15px;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 18px;
}
.customer__link {
  margin-top: 50px;
  margin-bottom: 300px;
}
.customer__link--anchor {
  position: relative;
  border: 1px black solid;
  padding: 2px 15px 2px 30px;
  border-radius: 0.2pc;
}
.customer__link--anchor::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 1px;
  top: 15px;
  right: 150px;
  background: black;
}
.customer__link--anchor::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  top: 11px;
  right: 150px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg);
}

footer {
  text-align: center;
  background-color: #F0F5E1;
  margin-top: -150px;
  position: relative;
  z-index: 55;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.footer__title {
  margin-bottom: 50px;
}
.footer__title--left, .footer__title--right {
  display: inline-block;
  margin-bottom: 3px;
  margin-top: 50px;
}
.footer__title--center {
  display: inline-block;
  font-size: 24px;
  color: #468459;
  margin: auto 20px;
  font-weight: bold;
}
.footer__left, .footer__right {
  width: 100%;
}
.footer__left {
  text-align: left;
  padding-left: 300px;
}
.footer__left--place {
  color: #468459;
  font-weight: bold;
  font-size: 24px;
}
.footer__left--adress {
  margin-top: 30px;
}
.footer__left--tel {
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #468459;
}
.footer__left--timetable {
  margin-top: 20px;
  width: 80%;
}
.footer__left--btnname {
  background-color: #1B9240;
  margin-top: 20px;
  padding: 15px;
  color: white;
  border-radius: 0.3pc;
  font-size: 13px;
}
.footer__right {
  padding-right: 300px;
}
.footer__right > iframe {
  width: 100%;
  height: 100%;
}
.footer__bottom {
  position: relative;
  margin-top: 80px;
}
.footer__logo {
  height: 25px;
}
.footer__nav {
  margin-bottom: 40px;
  position: relative;
}
.footer__nav--child {
  margin-left: 30px;
  padding-bottom: 10px;
  font-size: 15px;
  color: #0C4324;
}
.footer__copy {
  margin-top: 10px;
  background-color: #468459;
  height: 30px;
}
.footer__copy--text {
  font-size: 12px;
  color: white;
  padding-top: 8px;
}

.table__head {
  background-color: #468459;
  border-radius: 0.3pc;
  font-size: 14px;
}
.table__head > th, .table__head > td {
  text-align: center;
  color: white;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px #DDDDDD solid;
}
.table__head > th {
  border-radius: 0.5pc 0 0 0;
}
.table__head > td:last-child {
  border-radius: 0 0.5pc 0 0;
  border-right: none;
}
.table__am {
  text-align: center;
  font-size: 14px;
  background-color: white;
}
.table__am > th, .table__am > td {
  text-align: center;
  color: #468459;
  padding: 10px;
  border-right: 1px #DDDDDD solid;
}
.table__pm {
  text-align: center;
  font-size: 14px;
  background-color: #f6f6f6;
}
.table__pm > th, .table__pm > td {
  text-align: center;
  color: #468459;
  padding: 10px;
  border-right: 1px #DDDDDD solid;
}
.table__pm > th {
  border-radius: 0 0 0 0.5pc;
}
.table__pm > td:last-child {
  border-radius: 0 0 0.5pc 0;
  border-right: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.aheader {
  position: relative;
  width: 100vw;
  background-color: white;
}
.aheader__logo {
  position: absolute;
  background-color: white;
  z-index: 300;
}
.aheader__logo--img {
  margin-top: 15px;
  margin-left: 30px;
}
.aheader__nav {
  position: absolute;
  z-index: 299;
  font-family: "Noto Sans JP";
  width: 100%;
  text-align: right;
  background-color: white;
}
.aheader__nav--child, .aheader__nav--btn {
  margin: 15px;
  font-size: 15px;
  color: #468459;
}
.aheader__nav--btn {
  background-color: #0C4324;
  padding: 15px;
  border-radius: 0.3pc;
  margin-right: 30px;
  color: white;
}

.pankuzu {
  font-size: 14px;
  margin-left: 200px;
  margin-top: 50px;
  color: #468459;
}
.pankuzu::before {
  content: "ホーム > ";
  color: black;
}

.aconcept__concept, .aconcept__flow {
  position: relative;
  margin-bottom: 250px;
}

.aconcept__background {
  position: relative;
}
.aconcept__background--textname {
  position: absolute;
  text-align: left;
  color: #DAE2C2;
  font-size: 150px;
  opacity: 0.3;
  margin-top: 50px;
  margin-left: 200px;
  z-index: 69;
}
.aconcept__background--imgdata {
  position: absolute;
  top: 300px;
  right: 0;
  z-index: 69;
}
.aconcept__parent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.aconcept__left, .aconcept__right {
  width: 25%;
  position: relative;
  z-index: 70;
}
.aconcept__title--logo {
  position: relative;
  display: inline-block;
  margin-bottom: 3px;
}
.aconcept__title--en {
  display: inline-block;
  color: #468459;
  font-size: 20px;
  font-weight: bold;
}
.aconcept__title--jp {
  font-size: 20px;
  color: #468459;
  margin-top: 10px;
}
.aconcept__content {
  position: relative;
}
.aconcept__content--text {
  font-size: 32px;
  color: #468459;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 40px;
}
.aconcept__detail {
  margin-top: 80px;
  width: 80%;
}
.aconcept__detail > ol {
  list-style-type: decimal;
  margin-left: 20px;
}
.aconcept__detail--text {
  margin-top: 30px;
}

.acustomer {
  text-align: center;
  margin-bottom: 350px;
  margin-top: -50px;
}
.acustomer__title--left, .acustomer__title--right {
  display: inline-block;
  margin-bottom: 3px;
  margin-top: 0px;
}
.acustomer__title--center {
  display: inline-block;
  font-size: 24px;
  color: #468459;
  margin: auto 20px;
  font-weight: bold;
}
.acustomer__content {
  color: #468459;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 24px;
}
.acustomer__voice {
  position: relative;
  z-index: 62;
  display: flex;
  width: 100%;
  justify-content: center;
}
.acustomer__voice--left, .acustomer__voice--center, .acustomer__voice--right {
  width: 25%;
}
.acustomer__voice--img {
  border-radius: 1pc;
  width: 90%;
}
.acustomer__voice--title {
  margin-top: 30px;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.about__newwavetwo {
  position: relative;
}
.about__newwavetwo__img--one, .about__newwavetwo__img--two {
  position: absolute;
  right: 0;
  width: 100vw;
}
.about__newwavetwo__img--one {
  top: -270px;
  z-index: -2;
}
.about__newwavetwo__img--two {
  z-index: -1;
  top: -250px;
  filter: saturate(240%) grayscale(14%) brightness(99%);
}

.course__newwavetwo {
  position: relative;
}
.course__newwavetwo__img--one, .course__newwavetwo__img--two {
  position: absolute;
  right: 0;
  width: 100vw;
}
.course__newwavetwo__img--one {
  top: -300px;
  z-index: -2;
}
.course__newwavetwo__img--two {
  z-index: -1;
  top: -280px;
  filter: saturate(240%) grayscale(14%) brightness(99%);
}

#ccourse {
  margin-top: 300px;
  position: relative;
  z-index: 55;
}

.ccourse {
  position: relative;
  text-align: center;
}
.ccourse__title {
  margin-top: -200px;
}
.ccourse__title--left, .ccourse__title--right {
  display: inline-block;
  margin-bottom: 3px;
}
.ccourse__title--center {
  display: inline-block;
  font-size: 24px;
  color: #468459;
  margin: auto 20px;
  font-weight: bold;
}
.ccourse__content {
  font-size: 24px;
  color: #468459;
  margin-top: 20px;
  font-weight: bold;
}
.ccourse__menu {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 80px;
}
.ccourse__menu--left, .ccourse__menu--right {
  margin: 30px;
}
.ccourse__menu--img {
  border-radius: 1pc;
  width: 90%;
}
.ccourse__menu--parent {
  text-align: left;
  margin-top: 30px;
  margin-left: 15px;
}
.ccourse__menu--title {
  color: #468459;
  font-size: 24px;
  font-weight: bold;
}
.ccourse__menu--list {
  margin-top: 15px;
  margin-left: 20px;
}
.ccourse__menu--child {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 20px;
  list-style: disc;
}

.kotei {
  margin: -250px 100px;
}
.kotei__en {
  font-size: 32px;
  color: #468459;
  margin-left: 8px;
}
.kotei__jp {
  border-bottom: 2px #468459 dashed;
  display: inline-block;
  font-size: 18px;
  color: #468459;
  margin-top: 5px;
}
.kotei__jp::after {
  position: absolute;
  content: "";
  z-index: -1;
  background-color: #F0F5E1;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  box-shadow: inset 0 0 10px 5px #FFF;
  left: 70px;
  top: 230px;
}

.cconcept__content--text {
  margin: 50px 30px 50px 0;
  line-height: 30px;
}

.cconcept__menu--list {
  margin-top: 15px;
  margin-left: 20px;
}

.price {
  margin-top: 30px;
}

.information {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}
.information__left {
  width: 70%;
}
.information__left--parent {
  display: flex;
  margin-bottom: 40px;
}
.information__left--childleft {
  width: 40%;
}
.information__left--img {
  width: 90%;
  height: 95%;
  border-radius: 1pc;
}
.information__left--childright {
  width: 40%;
}
.information__left--title {
  font-weight: bold;
  font-size: 30px;
  width: 100%;
  display: block;
  color: #0d0d0d;
}
.information__left--date {
  display: inline-block;
  margin-right: 40px;
  margin-top: 40px;
  font-size: 18px;
}
.information__left--category {
  background-color: #468459;
  color: white;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 0.3pc;
  font-size: 14px;
}

.category__list--title, .category__list--single--title {
  color: #0C4324;
  font-size: 24px;
  margin-bottom: 30px;
}
.category__list--child, .category__list--single--child {
  margin-bottom: 20px;
  font-size: 18px;
}

.pinformation {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.pinformation__left {
  width: 70%;
  overflow: hidden;
  height: 70%;
}
.pinformation__left--img {
  margin-bottom: 30px;
  border-radius: 1pc;
  width: 200%;
}
.pinformation__left--childleft {
  width: 40%;
}
.pinformation__left--childright {
  width: 60%;
  margin-bottom: 50px;
}
.pinformation__left--title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  color: green;
}
.pinformation__left--date {
  display: inline-block;
  margin-right: 40px;
}
.pinformation__left--category {
  background-color: green;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 0.3pc;
  color: white;
}

.nextpage, .nextpage__nation {
  width: 100%;
  text-align: center;
  margin-bottom: 400px;
}
.nextpage__number, .nextpage__nation__number {
  font-size: 18px;
}

.nextpage__nation {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.nextpage__nation--one, .nextpage__nation--two, .nextpage__nation--three {
  margin: auto 15px;
}

.page, .page__voice {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
}
.page__number, .page__voice__number {
  font-size: 16px;
  text-align: center;
  color: #468459;
  letter-spacing: 4px;
  margin: auto 4px;
}
.page__number:first-child, .page__voice__number:first-child {
  background-color: #468459;
  padding: 4px;
  padding-left: 6px;
  color: white;
}

.post__title {
  color: green;
  margin-bottom: 30px;
}
.post__text {
  margin-bottom: 30px;
}

.vcustomer {
  width: 70%;
  margin: 100px auto 300px auto;
}
.vcustomer__voice {
  text-align: left;
}
.vcustomer__voice--img {
  border-radius: 100%;
  margin-right: 50px;
  float: left;
  margin-bottom: 60px;
}
.vcustomer__voice--title {
  color: green;
  font-size: 25px;
  margin-bottom: 20px;
}
.vcustomer__voice--text {
  font-size: 16px;
}
.vcustomer__voice--left {
  clear: both;
}

.atopbackground {
  width: 80vw;
  height: 508px;
  overflow: hidden;
  position: static;
}
.atopbackground__carousel {
  position: absolute;
  width: 70vw;
  height: 100vh;
  right: 0px;
  top: -130px;
  border-radius: 450px 0 0 550px;
  overflow: hidden;
  z-index: 80;
}
.atopbackground__carousel--img {
  position: absolute;
  width: 100%;
  right: 0px;
  top: 200px;
  z-index: 79;
}
.atopbackground__colored {
  position: relative;
  width: 100%;
  height: 100%;
  right: -95px;
  top: 76px;
  z-index: 79;
  background-image: url(../img/_x31_3.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50%;
}

.contact {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
}
.contact__left {
  width: 70%;
}
.contact__left--childright {
  width: 60%;
  margin-bottom: 50px;
}
.contact__left--title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  color: green;
}
.contact__left--date {
  line-height: 25px;
  margin-bottom: 30px;
}
.contact__left--tel::after {
  content: " 03-1234-5678";
  font-size: 24px;
  color: #0C4324;
  font-weight: bold;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  text-align: center !important;
}

.contact__form--title > h2 {
  font-size: 24px;
  color: #0C4324;
  margin-bottom: 30px;
  font-weight: bold;
}
.contact__form--title > p {
  font-size: 18px;
  margin-bottom: 20px;
}
.contact__form--heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.contact__form--textbox input {
  display: inline-block !important;
  border: 1px grey solid !important;
  height: 40px !important;
  padding-left: 15px !important;
  margin-bottom: 20px !important;
  width: 750px !important;
  max-width: 100% !important;
}
.contact__form--request select {
  display: inline-block !important;
  border: 1px grey solid !important;
  height: 40px !important;
  padding-left: 15px !important;
  margin-bottom: 20px !important;
  width: 750px !important;
  max-width: 100% !important;
}
.contact__form--textarea textarea {
  height: 140px !important;
  padding-top: 5px !important;
  display: inline-block !important;
  border: 1px grey solid !important;
  width: 750px !important;
  padding-left: 15px !important;
  margin-bottom: 45px !important;
}
.contact__form--submit {
  width: 80%;
  text-align: center;
  margin-bottom: -200px;
  margin-top: 30px;
}

.submit {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 300px;
}
.submit__parent {
  text-align: center;
  border: 1px grey solid;
  width: 60%;
  display: inline-block;
  margin-bottom: 30px;
}
.submit__child > h2 {
  font-size: 24px;
  color: #0C4324;
  margin-top: 80px;
  font-weight: bold;
  margin-bottom: 30px;
}
.submit__child > h2 > p {
  font-size: 16px;
}
.submit__btn {
  margin-top: 20px;
  margin-bottom: 80px;
}
.submit__btn--child {
  background-color: #1B9240 !important;
  color: white !important;
  border-radius: 0.3pc !important;
  width: 240px !important;
  height: 50px !important;
  left: 35%;
}

@media screen and (max-width: 767px) {
  body {
    max-width: 100%;
  }
  .header__logo--img {
    width: 200px;
  }
  .header__nav {
    display: none;
  }
  .header__logo--imagewhite {
    margin-top: 20px;
    margin-left: 30px;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .header__hamberger {
    display: block;
    height: 100vh;
    content: "";
    position: fixed;
    z-index: 300;
  }
  .header__hamberger--cross {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    z-index: 301;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 15px;
    transition: 0.3s;
  }
  .header__hamberger--line {
    width: 20px;
    height: 2px;
    background-color: #0C4324;
    margin: 3px auto;
    transition: 0.2s;
  }
  .header__hamberger--line:first-child {
    margin-top: auto;
  }
  .header__hamberger--line:last-child {
    margin-bottom: auto;
  }
  .header__hamberger .cross__animation--one {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .header__hamberger .cross__animation--two {
    transform: rotate(45deg) translate(1px, -1px);
  }
  .header__hamberger .cross__animation--three {
    transform: rotate(45deg) translate(-4px, -7px);
  }
  .header__hamberger--list {
    top: -50px;
    width: 100vw;
    height: 70%;
    background-color: white;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 300;
  }
  .header__hamberger--parent {
    margin-top: 120px;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 15px;
  }
  .header__hamberger--title {
    color: #0C4324;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .header__hamberger--child {
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 20px 0;
    color: #0d0d0d;
  }
  .header__hamberger--link {
    font-size: 14px;
    color: white;
    background-color: #0C4324;
    padding: 10px 40px;
    position: relative;
    z-index: 300;
  }
  .header__hamberger--linkline {
    position: relative;
    display: inline-block;
  }
  .header__hamberger--linkline::before {
    content: "";
    margin: auto;
    position: absolute;
    top: 24px;
    right: 0px;
    width: 245px;
    height: 1px;
    background: white;
  }
  .header__hamberger--linkline::after {
    content: "";
    margin: auto;
    position: absolute;
    bottom: 2px;
    right: -24px;
    width: 50px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(90deg);
  }
  .header__hamberger--empty {
    content: "";
    position: fixed;
    z-index: 98;
    height: 50%;
    width: 100vw;
    bottom: 0;
    background-color: #0d0d0d;
    opacity: 25%;
    display: none;
  }
  .carousel {
    display: none;
  }
  .carouselsp {
    display: contents;
    position: absolute;
    right: -72px;
    top: -65px;
    z-index: 79;
    width: 100vw;
    height: 85vh;
    border-top-left-radius: 1000px 1100px;
    overflow: hidden;
  }
  .topbackground__carousel {
    display: none;
  }
  .topbackground__carouselsp {
    display: contents;
    position: relative;
  }
  .topbackground__carouselsp--img {
    width: 100%;
    height: 500px;
    margin-top: 65px;
    position: relative;
  }
  .topbackground__colored {
    z-index: 78;
    right: -470px;
    width: 300%;
    transform: rotate(10deg);
  }
  .topbackground__word {
    position: absolute;
    top: 0%;
    left: -100px;
    z-index: 81;
  }
  .topbackground__word--texttwo::after {
    display: none;
  }
  .topbackground__word--textone, .topbackground__word--texttwo {
    z-index: 82;
    font-size: 22.4px;
    line-height: 35px;
  }
  .topbackground__img {
    display: block;
    position: absolute;
    left: -15px;
    top: -20%;
    z-index: 79;
  }
  .carouselsp .slick-dots li {
    width: 20%;
    right: 28%;
    margin-bottom: 30%;
  }
  .news {
    margin-top: -50px;
  }
  .news__title {
    float: none;
    margin-left: 10px;
    width: 90%;
    text-align: left;
  }
  .news__content {
    margin-left: 10px;
    float: none;
    width: 90%;
  }
  .news__content--date {
    display: block;
  }
  .news__link {
    display: block;
    text-align: right;
    margin-right: 10px;
  }
  .concept {
    margin-top: 0px;
    margin-bottom: -260%;
    width: 95%;
  }
  .concept__background {
    overflow: hidden;
    height: 160vh;
    width: 100vw;
  }
  .concept__background--textname {
    font-size: 90px;
    margin-left: -30px;
    margin-top: 450px;
  }
  .concept__background--img {
    overflow: hidden;
  }
  .concept__background--imgdata {
    position: relative;
    top: 900px;
    right: -120px;
    width: 80%;
  }
  .concept__right {
    position: absolute;
    top: 100px;
    width: 100%;
  }
  .concept__right--imgdata {
    width: 95%;
  }
  .concept__parent {
    display: inline;
  }
  .concept__title {
    margin-left: 10px;
  }
  .concept__title--logo {
    display: inline-block;
    margin-bottom: 0px;
  }
  .concept__left {
    width: 100%;
    position: absolute;
    top: 550px;
    left: 10px;
  }
  .concept__content {
    display: none;
  }
  .concept__contentsp {
    display: inline;
  }
  .concept__contentsp--text {
    width: 90%;
    font-size: 24px;
    color: #468459;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 45px;
  }
  .concept__detail {
    width: 100%;
  }
  .concept__detail--text {
    margin-right: 10px;
  }
  .about__link {
    width: 100%;
    text-align: center;
  }
  .newwaveone__img--one {
    top: 960px;
  }
  .newwaveone__img--two {
    top: 970px;
  }
  #course {
    margin-top: 1000px;
  }
  .course__background {
    overflow: hidden;
    height: 200vh;
    margin-bottom: -200vh;
  }
  .course__background--textname {
    margin-left: -30px;
    font-size: 100px;
  }
  .course__background--imgdata {
    width: 80%;
    position: absolute;
    right: -10%;
    top: 60%;
  }
  .course__title--center {
    font-size: 18px;
  }
  .course__content {
    font-size: 18px;
  }
  .course__menu {
    display: block;
    z-index: 70;
  }
  .course__link {
    position: relative;
    z-index: 70;
    margin-bottom: 0px;
  }
  .customer__background--img {
    display: none;
  }
  .customer__background--imgsp {
    width: 100vw;
    display: inline;
  }
  .customer__title--center {
    font-size: 18px;
  }
  .customer__head {
    width: 70%;
    height: 30%;
    margin: -70px auto auto auto;
    border-radius: 50%;
  }
  .customer__content {
    font-size: 18px;
  }
  .customer__voice {
    display: inline;
    text-align: center;
  }
  .customer__voice--left, .customer__voice--right, .customer__voice--center {
    width: 100%;
    margin-top: 30px;
  }
  .customer__voice--img {
    width: 50%;
  }
  .newwavetwo__img--one {
    top: -190px;
  }
  .newwavetwo__img--two {
    top: -180px;
  }
  .footer {
    display: inline;
  }
  .footer__title--center {
    font-size: 18px;
  }
  .footer__left {
    padding-left: 20px;
  }
  .footer__left--place, .footer__left--tel, .footer__left--adress {
    font-size: 18px;
  }
  .footer__left--timetable {
    width: 95%;
    margin: 30px auto 10px 0;
    padding-right: 20px;
  }
  .footer__left--btnname {
    width: 95%;
    text-align: center;
    margin: 20px 10px 30px auto;
  }
  .footer__right {
    padding-right: 0;
    margin-top: 20px;
    padding: 10px;
  }
  .footer__right > iframe {
    height: 300px;
  }
  .footer__bottom {
    display: inline;
  }
  .footer__logo {
    height: 35px;
    margin: 30px;
  }
  .footer__nav {
    text-align: center;
  }
  .footer__nav--child {
    display: block;
    color: #1B9240;
    font-size: 16px;
    line-height: 30px;
    margin-left: auto;
  }
  .footer .table__head {
    font-size: 10px;
  }
  .footer .table__am {
    font-size: 10px;
  }
  .footer .table__pm {
    font-size: 10px;
  }
  .kotei__header {
    width: 100vw;
    height: 160px;
    background-color: white;
    position: fixed;
  }
  .aheader__logo--img {
    width: 80%;
  }
  .aheader__nav {
    display: none;
  }
  .atopbackground {
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .atopbackground__carousel {
    width: 100vw;
    height: 90vh;
    top: -280px;
    right: -50px;
    border-radius: 0;
    border-top-left-radius: 100px 1000px;
    border-bottom-right-radius: 300px 50px;
    border-bottom-left-radius: 550px 600px;
  }
  .atopbackground__carousel--imgsp {
    position: absolute;
    width: 100%;
    right: 0;
    top: 280px;
    z-index: 79;
  }
  .atopbackground__colored {
    display: none;
  }
  .atopbackground__coloredsp {
    position: absolute;
    width: 200%;
    height: 100%;
    right: -215px;
    top: 20px;
    transform: rotate(-13deg);
    overflow: hidden;
    z-index: 78;
    background-image: url(../img/_x31_3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;
  }
  .kotei {
    margin: 350px auto auto 20px;
  }
  .kotei__en {
    font-size: 26px;
    position: relative;
    z-index: 72;
  }
  .kotei__jp {
    font-size: 16px;
    position: relative;
    z-index: 72;
  }
  .kotei__jp::after {
    display: none;
  }
  .kotei__img {
    display: block;
    position: absolute;
    left: -20px;
    top: 40%;
    z-index: 70;
  }
  .pankuzu {
    margin-top: 50px;
    margin-left: 20px;
  }
  .aconcept__concept, .aconcept__flow {
    margin-top: -80px;
    margin-bottom: -100px;
    width: 100%;
  }
  .aconcept__background {
    overflow: hidden;
    height: 160vh;
  }
  .aconcept__background--texttwo {
    margin-top: 120px;
  }
  .aconcept__background--textname {
    font-size: 72px;
    margin-left: -20px;
    margin-top: 450px;
  }
  .aconcept__background--imgone {
    overflow: hidden;
    right: -10px;
  }
  .aconcept__background--imgtwo {
    display: none;
  }
  .aconcept__background--imgdata {
    position: relative;
    top: 900px;
    right: -100px;
    width: 80%;
  }
  .aconcept__right {
    position: absolute;
    top: 100px;
    width: 95%;
  }
  .aconcept__right--imgdata {
    width: 100%;
  }
  .aconcept__parent {
    display: inline;
  }
  .aconcept__title {
    margin-left: 10px;
  }
  .aconcept__title--logo {
    display: inline-block;
    margin-bottom: 0px;
  }
  .aconcept__left {
    width: 95%;
    position: absolute;
    top: 550px;
    left: 10px;
  }
  .aconcept__content {
    display: none;
  }
  .aconcept__contentsp {
    display: inline;
  }
  .aconcept__contentsp--text {
    width: 90%;
    font-size: 24px;
    color: #468459;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 45px;
  }
  .aconcept__detail {
    width: 95%;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 15px;
  }
  .aconcept__detail--text {
    font-size: 16px;
  }
  .about__link {
    width: 100%;
    text-align: center;
  }
  .acustomer {
    margin-top: -300px;
    margin-bottom: 200px;
  }
  .acustomer__head {
    width: 90%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 100px;
  }
  .acustomer__title--center {
    font-size: 18px;
  }
  .acustomer__content {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .acustomer__content > br {
    display: block;
    content: "";
    margin: 15px 0;
  }
  .acustomer__voice {
    display: inline-block;
    width: 90%;
    text-align: center;
  }
  .acustomer__voice--left, .acustomer__voice--center, .acustomer__voice--right {
    width: 100%;
  }
  .acustomer__voice--img {
    width: 100%;
  }
  .acustomer__voice--title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .about__newwavetwo__img--one {
    top: -200px;
  }
  .about__newwavetwo__img--two {
    top: -190px;
  }
  .course__newwavetwo {
    margin-bottom: 200px;
  }
  .course__newwavetwo__img--one {
    top: -150px;
    width: 100vw;
  }
  .course__newwavetwo__img--two {
    top: -140px;
  }
  #ccourse {
    margin-top: 1000px;
  }
  .ccourse {
    position: relative;
  }
  .ccourse__title {
    position: relative;
    margin-top: -950px;
  }
  .ccourse__title--center {
    font-size: 18px;
  }
  .ccourse__content {
    width: 100%;
    font-size: 18px;
  }
  .ccourse__menu {
    display: block;
    margin-top: 30px;
  }
  .ccourse__menu--img {
    width: 100%;
  }
  .cconcept__parent {
    display: block;
    margin-top: 290px;
  }
  .cconcept__left {
    width: 100%;
    margin-bottom: -50px;
  }
  .cconcept__right {
    position: absolute;
    top: -230px;
    left: 15px;
  }
  .cconcept__right--imgdata {
    width: 90vw;
  }
  .cconcept__title {
    margin-left: 20px;
  }
  .cconcept__title--jp {
    font-size: 18px;
  }
  .cconcept__content {
    display: none;
  }
  .cconcept__detail {
    margin-top: 30px;
  }
  .cconcept__menu--list {
    margin-left: 40px;
  }
  .price {
    display: none;
  }
  .price__sp {
    margin-top: 30px;
    margin-left: 20px;
  }
  .price__sp > p:first-child {
    margin-bottom: 20px;
  }
  .information {
    display: block;
  }
  .information__left {
    width: 100%;
  }
  .information__left--parent {
    display: block;
    margin-bottom: 1000px;
  }
  .information__left--childleft {
    width: 100%;
  }
  .information__left--img {
    margin-left: 20px;
  }
  .information__left--childright {
    width: 90%;
    margin-top: 30px;
    margin-left: 20px;
  }
  .information__left--title {
    font-size: 18px;
  }
  .category__list, .category__list--single {
    position: absolute;
    top: 2000px;
    left: 20px;
  }
  .page, .page__voice {
    margin-top: 0;
  }
  .pinformation {
    margin-top: 100px;
    display: inline-block;
  }
  .pinformation__left {
    width: 100%;
    margin-left: 20px;
  }
  .pinformation__left--childleft {
    width: 100%;
  }
  .pinformation__left--childright {
    width: 100%;
  }
  .pinformation__left--date {
    float: left;
    margin-right: 20px;
  }
  .pinformation__left--category {
    margin-right: 0;
    color: white;
  }
  .vcustomer__voice--left {
    display: inline-block;
    text-align: center;
  }
  .vcustomer__voice--img {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .vcustomer__voice--text {
    width: 90%;
    margin-left: 15px;
  }
  .contact {
    margin-top: 50px;
    margin-bottom: 300px;
    display: inline-block;
  }
  .contact__left {
    width: 90%;
    margin-left: 20px;
  }
  .contact__left--childright {
    width: 100%;
  }
  .contact__form--textarea textarea {
    width: 100% !important;
    padding-left: 10px !important;
    height: 150px !important;
  }
  .contact__form--submit {
    width: 280px !important;
    height: 45px !important;
    left: auto;
  }
  .submit {
    margin-top: 50px;
    margin-bottom: 150px;
  }
  .submit__parent {
    width: 90%;
    margin-bottom: 200px;
  }
  .submit__child {
    margin-left: 25px;
  }
  .submit__child > h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 85%;
  }
  .submit__child > p {
    width: 90%;
  }
}
@media screen and (min-width: 767px) {
  .price__sp {
    display: none;
  }
  .kotei__img {
    display: none;
  }
}
@media screen and (max-width: 321px) {
  .header__logo {
    margin-top: -50px;
    top: 0px;
  }
  .topbackground__carouselsp--img {
    height: 550px;
    border-bottom-left-radius: 1000px 1000px;
  }
  .topbackground__colored {
    right: -400px;
    transform: rotate(20deg);
  }
  .carouselsp {
    border-top-left-radius: 1000px 1000px;
    height: 580px;
  }
  .concept {
    margin-bottom: -330%;
  }
  .concept__background--textname {
    font-size: 72px;
    margin-top: 500px;
  }
  .concept__background--imgdata {
    top: 950px;
  }
  .course__background--textdata {
    font-size: 72px;
  }
  .course__background--imgdata {
    top: 50%;
  }
  .customer {
    margin-top: -200px;
  }
  .kotei__header {
    top: 0px;
    height: 50px;
  }
  .atopbackground__carousel--imgsp {
    border-bottom-left-radius: 300px 300px;
  }
  .atopbackground__coloredsp {
    height: 150%;
    transform: rotate(-11deg);
    top: -20px;
    right: -225px;
  }
  .kotei {
    margin-top: 300px;
  }
  .kotei__img {
    top: 4%;
  }
  .information__left--parent {
    margin-bottom: 10px;
  }
  .information__left--title {
    margin-bottom: 25px;
  }
  .information__left--date {
    margin-top: 20px;
  }
  .information__left--childright {
    margin-top: 20px;
  }
  .category__list {
    top: 3550px;
  }
  .category__list--single {
    top: 2050px;
  }
  .page {
    margin-bottom: 500px;
  }
  .page__voice {
    margin-bottom: 250px;
    margin-top: -200px;
  }
  .pinformation {
    width: 90%;
  }
  .pinformation__left--img {
    width: 100%;
    height: 30%;
  }
  .nextpage__nation--two {
    display: none;
  }
  .aconcept__flow {
    margin-top: -230px;
  }
  .acustomer {
    margin-top: -450px;
  }
  .cconcept__left {
    margin-bottom: -250px;
  }
  .course__newwavetwo__img--one {
    top: -50px;
  }
  .course__newwavetwo__img--two {
    top: -40px;
  }
}/*# sourceMappingURL=style.css.map */